

.search{
    display: flex;
 justify-content: center;
 color: Black;
 /* background-image: url('../../Assets/search.jpg'); */
 
}

.search >form{
    width: 80%;
    height: 3rem;
    margin-top: 30px;
    margin-bottom: 10px;
    display: flex;
 justify-content: center;
 align-items: center;
 background-image: url('../../Assets/search.jpg');
}

.search>form>input{
   
    border: none;
    border: 2px solid #D3D3D3;
    /* width: 50%; */

   
}